@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Stadistics";
}
<br />
<h2>Student Body Statistics</h2>
<br />
<table>
    <tr>
        <th>Enrollment Date</th>
        <th>Students</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@item.StudentCount</td>
        </tr>
    }
</table>